/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #222329;
} 

.logo{
    width: 180px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
}

#navbar li a{
    text-decoration: none;
    color: rgb(214, 214, 214);
    transition: 0.3s ease;
}

#navbar li a span{
    margin-left: 10px;
}

#navbar li a:hover{
    color: #000000;
}

#navbar li i{
    font-size: 20px;
}

#login{
    padding: 10px 15px;
}

/* Banner */
#banner{
    background-image: url("img/banner.jpg");
    height: 50vh;
    background-position: top 25% right 0;
 }