#logo{
    margin-left: 40px;
}

#redes{
    margin-right: 30px;
}

a i{
    font-size: 20px;
    margin-left: 10px;
}

a i:hover{
    color: black;
}

button i{
    margin-right: 5px;
}

#login{
    margin-right: 50px;
}