@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Spartan', sans-serif;
}

/* Header Start */
#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #222329;
    position: sticky;
    top: 0;
    left: 0;
} 

.logo{
    width: 180px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
}

#navbar li a{
    text-decoration: none;
    color: rgb(214, 214, 214);
    transition: 0.3s ease;
}

#navbar li a span{
    margin-left: 10px;
}

#navbar li a:hover{
    color: #000000;
}

#navbar li i{
    font-size: 20px;
}

#login{
    padding: 10px 15px;
}


/* Banner*/
#banner{
    background-image: url("img/banner.jpg");
    height: 50vh;
    background-position: top 100% right 0;
 }


/* Acerca de*/
#acerca-de{
    display: flex;
    justify-content: space-between;
    margin: -8% 5% 0 5%;
} 

#perfil img {
    height: 30vh;
    border-radius: 50%;
}

#perfil h1{
    text-align: center;
    margin-top: 20px;
    font-size: 20pt; 
}

#perfil h6{
    font-style: italic;
    text-align: center;
    margin-top: 15px;
    font-size: 12pt;
    color: red;
}

#present{
    margin-top: 12%;
    width: 60%;
}

#present h5{
    color: grey;
    font-size: 12pt;
    text-align: justify;
    margin: 0;
}

#datos{
    margin-top: 12%;
}

#datos p{
    margin: 0;
    font-size: 10pt;
}

#datos .titulo{
    margin-bottom: 10px;
}

/* Experiencia */
#exp-container{
    background-color: beige;
}

#exp-container h1{
    padding: 3% 0 0 5%;
    font-size: 20pt;
}

#experiencia{
    display: flex;
    margin: 5% 0 0 5%;
}

#titulo{
    margin-left: 20px;
}

#titulo p{
    margin: 8px 0 0 0;
    font-size: 10pt;
}

#logo img{
    height: 5vh;
}