/* Header Start */

#header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 80px;
    background: #222329;
} 

.logo{
    width: 180px;
}

#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}

#navbar li{
    list-style: none;
    padding: 0 10px;
}

#navbar li a{
    text-decoration: none;
    color: rgb(214, 214, 214);
    transition: 0.3s ease;
}

#navbar li a span{
    margin-left: 10px;
}

#navbar li a:hover{
    color: #000000;
}

#navbar li i{
    font-size: 20px;
}

#login{
    padding: 10px 15px;
}

/* Banner y Perfil */
#banner-perfil{
    background-image: url("img/banner.jpg");
    height: 50vh;
    background-position: top 25% right 0;
    display: flex;
 }

#perfil{
    width: 25%;
    margin: 13% 0 0 5%;
    height: 100%;
} 

#perfil img {
    height: 30vh;
    border-radius: 50%;
    text-align: center;
}

#perfil h1{
    text-align: center;
    margin-top: 20px;
    font-size: 20pt; 
}

#perfil h6{
    font-style: italic;
    text-align: center;
    margin-top: 15px;
    font-size: 12pt;
    color: red;
}

#acerca-de{
    height: 27vh;
    margin: 26% 5% 0 5%;
}

#acerca-de h5{
    color: rgb(63, 63, 63);
    font-size: 12pt;
    text-align: justify;
}

#datos{
    height: 27vh;
    margin: 27% 5% 0 0;
}

#datos p{
    margin: 0;
    font-size: 10pt;
}